@import url(https://fonts.googleapis.com/css?family=Oswald);
body, html {
    		font-family: 'Oswald', sans-serif;
				overflow:hidden;
				height:100%;
				width:100%;
				background:#a8a6a2;
				color:#757573;
				font-size:18px;
				background:#a8a6a2;
				
				-webkit-user-select: none;
			}
			video {
				position:absolute;
				opacity:0.25;
			}
			.container {
				position: absolute;
				top:50%;
				left:50%;
				margin:-250px 0 0 -250px;
				height:500px;
				text-align: center;
				width:500px;
			
			}
			i {
				font-style: normal;
				font-size:200px;
			}